@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

$size-base: 0.25rem; // 4px
$fontSize: 0.875rem;
$fontFamily: 'Manrope', sans-serif;
$textColor: #151515;
$dangerColor: #f04f43;
$primaryColor: #2f4ea9;

.payabliPaymentForm {
  font-size: $fontSize;
  font-family: $fontFamily;
  line-height: 1.15;
  padding: 0 $size-base;

  .row {
    --bs-gutter-x: $size-base * 2;
  }
  .small,
  small {
    font-size: 12px;
  }
  .errorMessageComponent {
    color: $dangerColor;
    margin-top: $size-base;
  }
  label {
    margin-bottom: $size-base * 2;
    &[for='cardNumber'],
    &[for='cardExpirationDate'],
    &[for='cardCvv'],
    &[for='achAccountHolderName'],
    &[for='achAccountType'],
    &[for='achRouting'],
    &[for='achAccount'] {
      &:before {
        content: '*';
        color: $dangerColor;
      }
    }
  }
  .form-control {
    padding: $size-base * 2;
    height: auto;
    line-height: 1.15;
    border-radius: 6px;
    border-color: #d3d3d3;
    &:hover {
      border-color: $primaryColor;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(47, 78, 169, 0.15);
      border-color: $primaryColor;
    }
    &.input-error {
      border-color: $dangerColor;
    }
  }
  .input-cc {
    background-image: none !important;
    padding-left: $size-base * 2 !important;
  }
  @media (max-width: 440px) {
    .fullw-440 {
      &.col-1 {
        width: 8.3333333333% !important;
      }
      &.col-2 {
        width: 16.6666666667% !important;
      }
      &.col-3 {
        width: 25% !important;
      }
      &.col-4 {
        width: 33.3333333333% !important;
      }
      &.col-5 {
        width: 41.6666666667% !important;
      }
      &.col-6 {
        width: 50% !important;
      }
      &.col-7 {
        width: 58.3333333333% !important;
      }
      &.col-8 {
        width: 66.6666666667% !important;
      }
      &.col-9 {
        width: 75% !important;
      }
      &.col-10 {
        width: 83.3333333333% !important;
      }
      &.col-11 {
        width: 91.6666666667% !important;
      }
      &.col-12 {
        width: 100% !important;
      }
    }
  }
}
